body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.4em;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(78, 72, 72);
}

.container {
  width: 75rem;
  background-color: #bccfbc;
  padding: 3rem 3rem;
  margin: auto;
  margin-top: 3rem;
  columns: 2;
}

.homescreen-pic {
  max-width: 20%;
  max-height: 20%;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type=text] { 
  margin-right: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  width: 75%;
  padding: 0.2rem;
  margin: 0.3rem;
  border: none;
  font-family: 'Courier New', Courier, monospace; 
}

input[type=time] { 
  margin-right: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  width: 30%;
  padding: 0.2rem;
  margin: 0.3rem;
  border: none;
  font-family: 'Courier New', Courier, monospace; 
}

input[type=date] { 
  margin-right: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  width: 30%;
  padding: 0.2rem;
  margin: 0.3rem;
  border: none;
  font-family: 'Courier New', Courier, monospace; 
}

input[type=text-area] { 
  margin-right: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  width: 75%;
  padding: 0.2rem;
  margin: 0.3rem;
  border: none;
  font-family: 'Courier New', Courier, monospace; 
}

input[type=password] { 
  margin-right: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  width: 75%;
  padding: 0.2rem;
  margin: 0.3rem;
  border: none;
  font-family: 'Courier New', Courier, monospace; 
}

input[type=email] { 
  margin-right: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  width: 75%;
  padding: 0.2rem;
  margin: 0.3rem;
  border: none;
  font-family: 'Courier New', Courier, monospace; 
}

input::file-selector-button {
  color: white;
  background-color: #5c7a5c;
  border: solid 1px;
  border-color: white;
  padding: 0.4rem;
}

input::file-selector-button:hover {
  cursor: pointer;
  background-color: #8fbc8f;
  border: solid 1px;
  border-color: white;
  padding: 0.4rem;
}


select { 
  margin-right: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  width: 75%;
  padding: 0.2rem;
  margin: 0.3rem;
  border: none;
  font-family: 'Courier New', Courier, monospace; 
}

textarea { 
  margin-right: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  width: 75%;
  height: 4rem;
  padding: 0.2rem;
  margin: 0.3rem;
  border: none;
  font-family: 'Courier New', Courier, monospace; 
}

select { 
  margin-right: 1rem;
  margin-top: 1rem;
}

label {
  margin-right: 1rem;
}

table {
  width: 100%
}

th, td {
  text-align: left;
  border-bottom:#5c7a5c 1px solid;
  margin: 0;
}

tbody tr:hover{
  background-color: #5c7a5c;
  cursor: pointer;
}

.btn {
  background-color: #5c7a5c;
  border: none;
  color: rgb(255, 253, 245);
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 0.3em;
  margin-right: 0.3em;
  margin-bottom: 0.5rem;
}

.btn:hover {
  background-color: #8fbc8f;
  cursor: pointer;
}

.btn-pink {
  background-color: rgb(197, 171, 151);
  border: none;
  color: rgb(255, 253, 245);
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 0.3em;
  margin-right: 0.3em;
}

.btn-pink:hover {
  background-color: rgb(238, 212, 192);
  cursor: pointer;
}



.form-field {
  margin-top: 1rem;
  margin-right: 1rem;
}

.error-msg {
  color: white;
  background-color: #5c7a5c;
  border-radius: 5px;
  padding: 0.3rem
}

.post {
  background-color: #bccfbc;
  border-radius: 1rem;
  padding: 1rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.post-side-by-side {
  background-color: #bccfbc;
  border-radius: 1rem;
  padding: 1rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  column-count: 2;
}

.loader {
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: absolute;
  background-color: #8fbc8fad;
  opacity: 50;
}

.latest-post {
  background-color: #bccfbc;
}

.profile {
  padding: 1rem;
}

.profile:hover {
  border-radius: 0.5rem;
  background-color: #5c7a5c;
  cursor: pointer;
}

.profile-circle {
  border: none;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.profile-circle:hover {
  cursor: pointer;
}

.profile-circle-large {
  border: none;
  border-radius: 50%;
  width: 14rem;
  height: 14rem;
}

.profile-circle-large:hover {
  cursor: pointer;
  width: 25rem;
  height: 25rem;
}

.profile-circle-little {
  border: none;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  /* margin-right: -0.8rem; */
}

.profile-circle-little:hover {
  cursor: pointer;
  
}

.search-bar {
  background-color: #5c7a5c;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  color: white;
  margin-bottom: 1rem;
}

.search-bar button {
  background-color:#8fbc8f;
}

.search-bar button:hover {
  background-color:#6a8d6a;
}

.footer {
  background-color: rgb(78, 72, 72);
  color: white;
  margin-top: 1.5rem;
  padding: 1rem
}

.footer a:link { 
  text-decoration: none; 
  color: white
}


.footer a:visited { 
  text-decoration: none; 
  color: white;
}


.footer a:hover { 
  text-decoration: none; 
  color: white
}


.footer a:active { 
  text-decoration: none; 
  color: white
}

.welcome-page {
  max-width: 45rem;
}

form {
  max-width: 45rem;
}

input {
  max-width: 18rem;
}

/* /////////////////////////navbar////////////////////////// */

nav {
  background-color: rgb(238, 212, 192);
  display: flex;
}

.item {
  color: black;
  font-size: 21px;
  text-decoration: none;
  padding: 0.8rem;
  border-radius: 5px;
  text-align: center;
}

.item:hover {
  background-color:rgb(212, 183, 161);

}

.link {
  color: black;
  font-size: 21px;
  text-decoration: none;
  padding: 0.8rem;
  border-radius: 5px;
  text-align: center;
}

.link:hover {
  background-color:rgb(212, 183, 161);

}

.logo {
  max-height: 4em;
  max-width: 4em;
  padding: 0.5em
}

.box-1 {
  column-span: 1;
}